version: '3.9'

include:
  - compose.collector.yaml
  - compose.tracing.yaml

services:
  postgres:
    container_name: postgres-db
    image: postgres:16-alpine
    ports:
      # - "127.0.0.1:5432:5432"
      - 5432:5432
    volumes:
      - /var/lib/postgresql/data
    environment:
       - POSTGRES_PASSWORD=newpwd
       - POSTGRES_USER=admin
       #- POSTGRES_DB=postgres
    networks:
      #- postgres
      - practical-otel-net

  #redis:
    #image: redis:7.4.1-alpine
    #restart: always
    #ports:
     # - 6379:6379
    #command: redis-server --save 3600 1 --cluster-enabled no --loglevel warning --requirepass newpwd --appendonly yes
    #volumes: 
     # - cache:/data
    #networks:
     # - practical-otel-net
    #environment:
     # - REDIS_PORT=6379
     # - REDIS_DATABASES=1

  arangodbdb:
    container_name: arango-db
    image: arangodb:latest
    environment:
      ARANGO_ROOT_PASSWORD: rootpassword
    ports:
      - 8529:8529
    volumes:
      - arangodb_data_container:/var/lib/arangodb3
      - arangodb_apps_data_container:/var/lib/arangodb3-apps

  dragonfly:
    image: 'docker.dragonflydb.io/dragonflydb/dragonfly'
    ulimits:
      memlock: -1
    command: dragonfly --requirepass "${REDIS_PASSWORD}" --admin_nopass --cache_mode --proactor_threads=4
    ports:
      - 6379:6379
    # For better performance, consider `host` mode instead `port` to avoid docker NAT.
    # `host` mode is NOT currently supported in Swarm Mode.
    # https://docs.docker.com/compose/compose-file/compose-file-v3/#network_mode
    #network_mode: "host"
    volumes:
      - dragonflydata:/data

  keycloak:
      image: quay.io/keycloak/keycloak:latest
      command: start-dev --http-port=9009
      #entrypoint: /opt/keycloak/bin/kc.sh start-dev --hostname-strict=false --features=hostname:v1 --hostname-port=8086
      environment:
        KC_DB : postgres
        #KC_DB_URL: postgres-db
        KC_DB_URL_HOST: postgres-db
        KC_DB_URL_DATABASE: keycloak
        KC_DB_USERNAME: admin
        KC_DB_PASSWORD: newpwd
        KC_DB_SCHEMA: public
        KEYCLOAK_ADMIN: admin
        KEYCLOAK_ADMIN_PASSWORD: newpwd
      ports:
        - 9001:9009
      networks:
        - practical-otel-net
      depends_on:
        - postgres

  mssql:
    container_name: mssql-db
    user: root
    #hostname: mssql-db
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: 'Y'
      MSSQL_SA_PASSWORD: 'Admin@123'
      MSSQL_DATA_DIR: /var/opt/mssql/data
      MSSQL_PID: 'Developer' 
      MSSQL_TCP_PORT: 1433 
    ports: 
      - 1433:1433
    volumes:
      - ./data/backup:/var/opt/mssql/backup
      - ./data/data:/var/opt/mssql/data
      - ./data/log:/var/opt/mssql/log
      - ./data/secrets:/var/opt/mssql/secrets
    networks:
      - practical-otel-net

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./config-files/prometheus.yaml:/etc/prometheus/prometheus.yml
    command: 
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.listen-address=:8080'
    ports:
      - "8081:8080"
    environment:
      - config.file=/etc/prometheus/prometheus.yml
    networks:
      - practical-otel-net  

  loki:
    image: grafana/loki:latest
    command: [ "-config.file=/etc/loki/local-config.yaml" ]
    networks:
      - practical-otel-net  

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - ./config-files/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    depends_on:
      - zipkin
      - prometheus
      - loki
      - collector
    networks:
      - practical-otel-net  

networks:
  practical-otel-net:
    name: practical-otel-net
    driver: bridge

volumes:
  cache:
    driver: local
  dragonflydata:
  arangodb_data_container:
  arangodb_apps_data_container: